body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container1{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url('./assets/sayangq6.jpg');
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formbox{
    padding: 20px;
    width: 90%;
    max-width: 500px;
    background: white;
    height: fit-content;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formtitle{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: linear-gradient(to top right, #07a49d, #d2ec0d);
    -webkit-background-clip: text;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
.formtitle::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #07a49d, #3eb688, #85d677, #aae26b);
}
.errorinput{
    font-size: 12px;
    line-height: 0;
    color: red;
    display: none;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
.button{
    height: 45px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    background: linear-gradient(to right, #07a49d, #3eb688, #85d677, #aae26b);
}